{% extends 'layout.html' %}
{% block content %}

<div>
    <div>
            <article id="article">
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
                <div>
                    <p>{{ post.author.username }}</p>
                    <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
                </div>
            </article>
            <hr>
    </div>
</div>

{% endblock %}

{% block sidebar %}
<div>
    <ul>
        {% for post in posts %}
        <li><a href="/article/{{ post.id }}#article">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}